<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    #wrapper{
        font-family: cursive;
        font-size: 80px;
        margin-left: 424px;
        margin-top: 80px;
    }
    p{
      margin-left: 474px;
      font-family: cursive;
    }
    #nav{
      justify-content: right
    }
</style>
<body>
    
  <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <div   class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/signup">Signup</a>
      <a class="nav-item nav-link" href="/login">Login</a>
    </div>
  </div>
</nav>

    
<div id="wrapper">
    NOTEBOOK
</div>
<p>Don't have a Notebook Account? <a href="/signup"> Sign up Now!</a></p>
</body>
</html>