<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/Notebook/public/style.css"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
	#d1{
		{{!-- border: solid black 0.5px; --}}
		width: 300px;
		margin-left: 456px;
		margin-top: 85px;
	}
	#username{
	    font-family: cursive;
		font-size: 20px;
	}
	#password{
	    font-family: cursive;
		font-size: 20px;
	}
	#Email{
	    font-family: cursive;
		font-size: 20px;
	}
	#s1{
		font-family: cursive;
		font-size: 53px;
		padding-left: 106px;
	}
</style>
<body>
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/login">Login</a>
    </div>
  </div>
</nav>
	<div id="d1">
 <form action="/signup" method="post">
  <h2 id="s1">Sign Up</h2>
  
		<p>
			<label id="username" for="Username" class="floatLabel">Username</label>
			<input  placeholder="Anurag123" name="username" type="text">
		</p>
		<p>
			<label id="password" for="password" class="floatLabel">Password</label>&nbsp;&nbsp;
			<input placeholder="******" name="password" type="password">
			
		</p>
		<label  id="Email" for="Email" class="floatLabel">Email</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input placeholder="xyz@gmail.com" name="email" type="text">
		</p>
		<p>
			<button type="submitt" class="btn btn-warning">Register</button>
		</p>
<p>Already have an Account? <a href="/login"> Login Now!</a></p>
	</form>
</div>

</body>
</html>